#footer {
    background-color: #001840;
}

#fh5co-testimonials {
    background-color: #333333;
}

.hero {
    background-image:url(../images/background-map.png);
    background-position: center center !important;
}

.black {
    color: #000 !important;
}

.blue {
    color: #0A7FEE !important;
}

.purple {
    color: #C0007F !important;
}

.lightgray {
    color: #AAA !important;
}

.white {
    color: #FFF !important;
}

.font-regular {
    font-style: normal;
}

.no-border {
    border: 0 !important;
}

.bg-purple {
    background-color: #C0007F !important;
}

.bg-blue {
    background-color: #0A7FEE !important;
}

.bg-green {
    background-color: #7FC000 !important;
}

.bg-lightgray {
    background-color: #EEE !important;
}

.bg-white {
    background-color: white !important;
}

.padder-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.error-404 {
  margin-top: 60px;
  padding: 20px 80px;
  border: 1px solid #AAA;
  color: #777;
  border-radius: 5px;
  font-family: "Courier New", monospace;
  max-width: 700px;
  width: 60%;
}

.error-404 h1 {
  font-size: 32pt;
  font-weight: bold;
  color: #333;
  margin-bottom: 40px;
  margin-top: 0;
}

.error-404 h2 {
  margin-top: 0;
  margin-bottom: 40px;
}

.btn-mobile-full {
    margin-right: 10px;
}

.promo-image {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #EEE;
}

@media (max-width: 768px) {

    .owl-carousel .item {
        text-align: center;
    }

    .btn-mobile-full {
        margin-right: 10px;
        margin-top: 10px;
        width: 100%;
    }

}


@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    .hero {
        background-color: #001840;
        background-image: none;
        background-position: center center !important;
    }

}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
