.DS_Store
/powerauth-java/nbproject/private/
/powerauth-java/target/
/powerauth-java/nbproject/
/powerauth-java-server/target/
/powerauth-java-server/src/main/java/generated/

### Eclipse template
.settings
.project
powerauth-java/.classpath
powerauth-java/.settings
powerauth-java/.project
powerauth-java-server/.classpath
powerauth-java-server/.settings
powerauth-java-server/.project

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml
## Directory-based project format:
.idea/
.mvn
/powerauth-java-server/src/main/webapp/
