.DS_Store
/powerauth-java/nbproject/private/
/powerauth-java/target/
/powerauth-java/nbproject/
/powerauth-java-server/target/
/powerauth-java-server/src/main/java/generated/


### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml
## Directory-based project format:
.idea/