name: Publish with Maven

on:
  workflow_dispatch:
    branches:
      - 'develop'
      - 'master'
      - 'issues/431-reusable-actions'

jobs:
  maven-deploy:
    uses: wultra/wultra-infrastructure/.github/workflows/maven-deploy.yml@develop
    with:
      environment: maven-publish
    secrets:
      username: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
      password: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}